doctype 5
html
  head
    title Genadi Samokovarov :: Resume

    meta name='viewport' content='width=device-width, initial-scale=1.0'

    link rel='shortcut icon' href='http://gsamokovarov.com/favicon.ico'
    link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'

    sass:
      body, div, p, h1, h2, h3, h4, ul, li, pre
        margin: 0
        padding: 0

      body
        height: 100%

      h1, h2, h3, h4
        font-size: 100%
        font-weight: bold

      a
        text-decoration: none
        &:hover
          text-decoration: none

      *
        outline: none

    sass:
      body
        border-top: 4px solid #C86F82

      #container
        font-family: Ubuntu Mono, Inconsolata, Courier, monospace
        font-size: 16px
        color: #364347
        margin: 0 auto
        margin-top: 24px
        margin-bottom: 24px
        max-width: 960px

        h1, h2, h3, h4
          margin-top: 0.5em
          margin-bottom: 0.5em

        h1
          font-size: 32px

        h2
          font-size: 24px

        h3
          font-size: 19px

        h4
          font-size: 17px

        a
          color: #BD304E
          &:hover
            color: #E5928A

        code
          color: #A1898E

        .header
          h1
            text-align: center
            .homepage
              color: #364347
              &:hover
                color: #364347

          .links
            clear: right
            .github
              text-align: left
            .email
              text-align: right
              float: right

        .summary
          h3
            margin-bottom: 0.25em
            em
              font-size: 17px

          h4
            font-style: italic
            margin-top: 0.25em
            color: #6F8A94

          p
            font-size: 16px
            text-align: justify
            margin-top: 0.5em
            margin-bottom: 0.5em

          ul
            padding-left: 2.5em
            li
              display: inline-block
              height: 16px
              line-height: 20px
              margin-bottom: 0.5em

          .break
            page-break-after: always

    javascript:
      var analytics=analytics||[];(function(){var e=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group"],t=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var n=0;n<e.length;n++)analytics[e[n]]=t(e[n])})(),analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)};
      analytics.load("ldg9g8k3vf");

  body
    #container
      .header
        h1
          a.homepage href="http://gsamokovarov.com" Genadi Samokovarov

        .links
          a.github href="https://github.com/gsamokovarov" github.com/gsamokovarov
          a.email href="mailto:gsamokovarov@gmail.com" gsamokovarov@gmail.com

      .summary
        markdown:
          Hello, my name is Genadi and I like building stuff. Be it [software development][github] or
          [electronic music][soundcloud], I dive into everything that makes me excited.

          _<3_ [Ruby][ruby]_,_ [Python][python]_,_ [JavaScript][javascript]_,_ [Linux][ubuntu] _&_ [Git][git].

          [ruby]: http://www.ruby-lang.org/
          [python]: http://www.python.org/
          [javascript]: https://www.google.com/search?q=JavaScript
          [ubuntu]: http://www.ubuntu.com/
          [git]: http://git-scm.com/

          [github]: https://github.com/gsamokovarov
          [soundcloud]: https://soundcloud.com/gsamokovarov

          Experience
          ----------

          ### Software Engineer, Software Society _[09.2013, ...]_
          #### Ruby, Ruby on Rails, Puppet, JavaScript, Git
            * Automated, created test infrastructure and scaled [fidor.de].
            * Reworked and optimized core banking processes of [fidor.de].
            * Lead the development of an RESTful banking API at [api.fidor.de][fidor.de].

          [fidor.de]: https://www.fidor.de/

          ### Student, [Google Summer of Code][gsoc] _[07.2013, 09.2013]_
          #### Ruby, Ruby on Rails, JavaScript, Git
            * Developed [Web Console][web-console] for the [Ruby on Rails][rails] organization.
            * Contributed code and ideas to the core [Ruby on Rails][rails] project.

          [gsoc]: http://code.google.com/soc/
          [web-console]: https://github.com/rails/web-console
          [rails]: http://rubyonrails.org/

          ### MTS, [VMware][vmware] _[10.2011, 11.2013]_
          #### Python, Django, JavaScript, Backbone, Puppet, Perforce, Git
            * Developed Django testing framework, creating testing databases for multi-db applications.
            * Developed internal status dashboard, monitoring the health of the Release Engineering services.
            * Worked with different groups for the development of health checks for their infrastructure.
            * Improved the performance of the Release Engineering infrastructure charts generation.
            * Improved the performance of the dynamic build machines provisioning.

          ### Software Engineer, [Melon][melon] _[03.2011, 09.2011]_
          #### Python, ASP, VisualBasic Script, .NET, Subversion
            * Developed high-level black-box testing framework in Python and C++ for [Cyberarts][cyberarts].
            * Supported a legacy code base built on Classic ASP with VisualBasic Script for [Restaurant Guide][restaurant-guide].

          [melon]: http://www.melontech.com/
          [cyberarts]: http://www.cyberarts.com/
          [restaurant-guide]: http://www.restaurant-guide.com/

          ### Intern MTS, [VMware][vmware] _[07.2010, 01.2011]_
          #### Python, Django, Suds, P4Python, PySVN, Perforce
            * Developed image recording frontend to generate CD releases for customers.
            * Developed a Python API binding for [RImage][rimage] robotic machines web services.
            * Developed a dynamic changelog giving the changes between two product builds.

          [vmware]: http://vmware.com/
          [rimage]: http://www.rimage.com/

          ### Software Engineer, N-Team _[09.2009, 06.2010]_
          #### Python, Django, wxPython, PyGame
            * Developed a windows installer for an in house project with Python and WIX.
            * Developed fiscal printer communication software in Python for [Cashterminal][cashterminal].
            * Developed communication software for [Vivacom][vivacom], the first partner for [Cashterminal][cashterminal].
            * Increased the front end performance for [Cashterminal][cashterminal], by developing a caching system.
            * Refactored all of the frontend code for [Cashterminal][cashterminal].

          [cashterminal]: http://www.cashterminal.eu/en/
          [vivacom]: http://vivacom.bg/en/

        .break

        markdown:
          Open Source
          -----------

          I love open source software and give back to it as much as I can. I have contributed to
          [Backbone][backbone], [Ruby on Rails][rails], [Underscore][underscore] and [Puppet][puppet] among others.
          Besides my contributions, I have some [open source projects][github] of my own:

          [backbone]: https://github.com/documentcloud/backbone
          [rails]: https://github.com/rails/rails
          [underscore]: https://github.com/documentcloud/backbone
          [puppet]: https://github.com/puppetlabs/puppet

          ### [Web Console][web-console] _Rails Console on the Browser_
            * Web Console runs `rails console` in a full-featured terminal emulator in the browser.

          ### [CHIP-8][chip8.c] _Simple CHIP-8 Interpreter_
            * CHIP-8 interpreter in C, supporting multiple rendering backends.

          ### [Backbone Coffee][backbone.coffee] _Rewrite of Backbone in CoffeeScript_
            * Cheeky rewrite of Backbone into CoffeeScript.

          ### [Plush][plush] _Python's most fluffy web framework_
            * Asynchronous micro web framework with a simple, DSL-like interface.

          ### [Moodswing][moodswing] _Node.js testing framework for that time of the software development cycle_
            * CoffeeScript assertions DSL in [Literate Programming][literate-programming] style.

          [moodswing]: https://github.com/gsamokovarov/moodswing
          [plush]: https://github.com/gsamokovarov/plush
          [pygmentize.me]: https://github.com/gsamokovarov/pygmentize.me
          [carmine]: https://github.com/gsamokovarov/carmine
          [cobalt]: https://github.com/gsamokovarov/cobalt
          [holmsie]: https://github.com/gsamokovarov/holmsie
          [backbone.coffee]: https://github.com/gsamokovarov/backbone.coffee
          [chip8.c]: https://github.com/gsamokovarov/chip8.c
          [web-console]: https://github.com/rails/web-console

          [github]: https://github.com/gsamokovarov
          [literate-programming]: http://en.wikipedia.org/wiki/Literate_programming

          _For full listing, checkout my [github][] profile._

          Education
          ---------

          ### Masters of Software Technologies, [Sofia University][uni-sofia] _[10.2012, ...]_
            * Helped out the **[Programming Ruby][fmi-ruby]** course with website features and fixes.

          ### Bachelor of Software Engineering, [Sofia University][uni-sofia] _[10.2008, 07.2012]_
            * Lectured the JavaScript part of the **[Web Development with PHP][php-dev]** course for 3 years.

          [uni-sofia]: http://www.uni-sofia.bg/eng/
          [fmi-ruby]: http://fmi.ruby.bg/
          [php-dev]: http://php.dev.bg/
